body {
  padding: 0;
  margin: 0;
  background-color: #0c0d31;
}
canvas {
  display: block;
}

#particlesJsWrapperBg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#particlesJsWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
}

#app {
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 100%;
}

#goal {
  width: 0;
  height: 0;
  opacity: 0;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.1);
}

.anime {
  animation: show 2s ease 1;
  /* animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
}

@keyframes show {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  100% {
    width: 60vw;
    height: 60vw;
    opacity: 1;
  }
}
